.app {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  border: green solid;
}
.page-title {
  display: block;
  margin: 16px auto;
  width: fit-content;
}
.hr {
  border: green dashed 1px;
}
main {
  padding: 0 16px;
}
h2 {
  margin-bottom: 0.5em;
}

/* Task - Temperature Converter */
.temp-conv-input {
  width: 64px;
}
.temp-conv-input-lhs {
  text-align: right;
}

/* Task - Flight Booker */
.flight-frame {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 14px;
}
.flight-frame label {
  margin-right: 1em;
}
.flight-frame h3 {
  margin-top: 0px;
  margin-bottom: 2px;
}
.flight-return-disabled {
  color: grey;
}

/* Task - Progress Bar */
.progressbar-outer {
  height: 1em;
  border: solid 2px black;
}
.progressbar-inner {
  height: 100%;
  background: limegreen;
}
.progressbar-demo {
  width: 350px;
}
.progressbar-demo-elapsed {
  display: flex;
  flex-flow: row-reverse;
  gap: 5px;
  align-items: baseline;
}
.progressbar-demo-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

/* Task - CRUD */
.crud-container {
  display: flex;
  gap: 20px;
  border: solid grey 1px;
  height: fit-content;
  width: fit-content;
  padding: 5px 10px 0px 10px;
}
.crud-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.crud-column ul {
  height: 100px;
  overflow-y: scroll;
  border: solid 1px;
  list-style-type: circle;
  padding: 0 0 0 20px;
}
.selected-entry {
  font-weight: bold;
}
.selected-entry:before {
  content: "\0BB";
}
.selected-entry:after {
  content: "\0AB";
}

/* Task - Circle Drawer */
.circle-drawer h3 {
  font-weight: normal;
  font-style: italic;
}
.circle-drawer ul {
  padding-left: 20px;
}
.circle-drawer li {
  margin-top: 5px;
}
.circle-drawer-frame {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.circle-drawer-area {
  border: solid 1px;
  height: 300px;
}
.circle-drawer-selected {
  stroke: lime;
  stroke-width: 3px;
}
.circle-drawer-controls {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.circle-drawer-controls label {
  font-size: 1em;
}
.circle-drawer-controls input {
  vertical-align: middle;
}

/* Task - Cells */
.cells {
  margin: 10px 0 10px 0;
  display: block;
  border: grey 1px solid;
  height: 400px;
  overflow: scroll;
}
.cells input {
  width: 4em;
}
